*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: operator mono;
  height: 100vh;
  background:
  linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
  linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
  linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
  linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

ul{list-style: none;}
a{text-decoration: none;}

.top{
  position: relative;
  top: 80px;
}


.cool{
  display: flex;
  justify-content: center;
}

.cool>li{
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cool > li > a{
  padding: 18px;
  background-color: rgba(0, 0, 0, 0.521);
  margin: 0px 20px;
  border-radius: 5px;
  color: #e6ff58;
}

.dropdown{
  opacity: 0;
  position: absolute;
  padding: 20px;
  top: -30px;
  transition: all 0.5s,opacity 0.3s;
  transform: translateY(100px);
  will-change: opacity;
  display: none;
}

.active .dropdown{
  display: block;
}

.active-after .dropdown{
  opacity: 1;
}

.background{
  position: absolute;
  background-color: rgb(245, 247, 162);
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15),
        0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s, opacity 0.1s, transform 0.2s;
  top: 0px;
  left: 0px;
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.background.open{
  opacity: 1;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background-color: rgb(245, 247, 162);
  transform: translateY(-50%) rotate(45deg);
}

#dropdown1{
  width: 600px;
  text-align: justify;
  left: 510px;
}

#dropdown1 img{
  height: 140px;
  float: left;
  margin-right: 15px;
  background-color: #00000073;
}

#dropdown2{
  left: 800px;
}

#dropdown3{
  left: 1048px;
  padding: 15px;
}

.langs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.langs > li{
  width: 100%;
  text-align: center;
  background-color: #ffbb00c0;
  border-radius: 2px;
  padding:8px 10px;
  margin: 5px 0px;
}